/* Disable scrolling when the no-scroll class is applied */
.no-scroll {
   overflow: hidden;
   height: 100%;
}


/* Keep the form layout styling without a fixed width */
.form-layout {
   border-radius: 20px;
}

/* Styling for message text */
.message-text {
   color: white;
}

/* Custom style for authenticated navbar links */
.navbar-link {
   display: inline-block;
   /* Ensures the link takes up only the necessary width */
   padding: 8px 12px;
   /* Add some padding for spacing */
   border-radius: 5px;
   /* Keeps the rounded corners */
   color: #ffffff !important;
   /* Set the text color to white */
   font-weight: bold;
   /* Make the text bold */
   opacity: 1 !important;
   /* Ensure full opacity */
}

/* Optional: Adjust hover state for better visibility */
.navbar-link:hover {
   background-color: rgba(255, 255, 255, 0.2);
   /* Light background color */
   border-radius: 5px;
   /* Rounded corners */
}

.glass-container {
   background-color: rgba(255, 255, 255, 0.2);
   /* Glass effect background */
   backdrop-filter: blur(10px);
   /* Add blur effect */
   border-radius: 15px;
   /* Rounded edges */
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   /* Soft shadow for elevation */
   padding: 20px;
   /* Add some padding inside */
   margin: 20px auto;
   /* Center the container and add vertical spacing */
   max-width: 90%;
   /* Prevent stretching beyond screen width */
   width: 100%;
   /* Ensure responsiveness */
}

.custom-primary-bg {
   background-color: transparent;
   background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
   backdrop-filter: blur(5px);
   border: none;
   color: white;
   /* Ensure the text color is fully opaque */
   transition: background-color 0.3s ease, background-image 0.3s ease;
   /* Smooth transition */
}

/* Adds color to buttons during hover */
.custom-primary-bg:hover {
   background-image: linear-gradient(125deg, rgba(232, 50, 131), rgba(232, 50, 131) 70%);
   backdrop-filter: blur(5px);
}

.custom-danger-bg {
   background-color: transparent;
   background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
   backdrop-filter: blur(5px);
   border: none;
   color: white;
   /* Ensure the text color is fully opaque */
   transition: background-color 0.3s ease, background-image 0.3s ease;
   /* Smooth transition */
}

/* Adds color to buttons during hover */
.custom-danger-bg:hover {
   background-image: linear-gradient(125deg, rgba(253, 126, 20), rgba(253, 126, 20) 70%);
   backdrop-filter: blur(5px);
}
