{% extends 'note/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <head>
    <title>Gloss | Create Note</title>
  </head>
  <br />
  <div class="container bg-secondary bg-opacity-10 shadow-lg p-5 form-layout">
    <h1>Create a Note</h1>
    <p>
      <b>You may create a note below:</b>
    </p>
    <br />
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      {{ CreateNoteForm|crispy }}
      <br />
      <button class="btn custom-primary-bg btn-lg w-100 btn-block p-3" type="submit"><i class="fa-solid fa-plus" aria-hidden="true"></i> &nbsp; Create Note</button>
    </form>
  </div>
  <br />
{% endblock %}
