{% extends 'note/navbar.html' %}
{% load static %}
{% block content %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <p id="message-timer" class="alert alert-dismissible alert-success float-center text-center message-text">
        <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{ message }}
      </p>
    {% endif %}
  {% endfor %}
  <br />
  <div class="container bg-tertiary shadow-lg p-5 form-layout">
    <h1>{{ user }}</h1>
    <p>Welcome, {{ user }}!</p>
    <br />
    <img style="width:100x; height:120px;" src="{{ profilePic.profile_pic.url }}" />
    {% comment %} <a href="{% url 'user-logout' %}">Logout here</a> {% endcomment %}
  </div>
  <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
