{% extends 'note/navbar.html' %}
{% block content %}
  <head>
    <title>Gloss</title>
  </head>

  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <p id="message-timer" class="alert alert-dismissible alert-success float-center text-center message-text">
        <i class="fa-solid fa-check" aria-hidden="true"></i> &nbsp; {{ message }}
      </p>
    {% endif %}
  {% endfor %}

  <div class="text-center mt-4 mt-lg-3 mb-4 mb-lg-5">
    <h1>Gloss.... an annotation ... a note.</h1>
    <br />
    <a class="btn custom-primary-bg btn-lg" type="button" href="{% url 'register' %}">Register</a>
  </div>

  <!-- Flexbox container with adjusted spacing for responsiveness -->
  <div class="d-flex glass-container justify-content-center align-items-center min-vh-50">
    <div class="container text-center mt-4 mb-4">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="icon">
            <i class="fa-solid fa-computer fa-3x"></i>
          </div>
          <h2>Web App</h2>
          <p>
            <b>Available in your desktop and mobile browser. all you have to do is create an account, sign in and viola!</b>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="icon">
            <i class="fa-solid fa-pen-to-square fa-3x"></i>
          </div>
          <h2>Notes</h2>
          <p>
            <b>Create notes you can save. Need to make changes? click the pretty in pink update button. No longer need them? then smash the delete button.</b>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="icon">
            <i class="fa-solid fa-rectangle-list fa-3x"></i>
          </div>
          <h2>Tasks Lists</h2>
          <p>
            <b>Wish you could write a list wherever you are? Well then go ahead! Write those spur of the moment lists and get sh*t done!</b>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="icon">
            <i class="fa-solid fa-face-grin-hearts fa-3x"></i>
          </div>
          <h2>User Friendly</h2>
          <p>
            <b>Got an email address and a fancy username in mind? Great! Just click the 'Register'
              button at the top of this page to setup your account and get started. Easy Peasy Lemon Squeezy!</b>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="icon">
            <i class="fa-brands fa-github fa-3x"></i>
          </div>
          <h2>Open Source</h2>
          <p>
            <b>So you think you are a Rock Star Developer with awesome ideas? Then go ahead and git clone, create a branch and help us create some magic. We dare ya! <a target="_blank" rel="noopener"
              href="https://github.com/CodeConnoisseur74/gloss">GitHub Repository</a>.</b>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="icon">
            <i class="fa-solid fa-paper-plane fa-3x"></i>
          </div>
          <h2>Stay Updated</h2>
          <p>
            <b>Dont be a stranger. Keep in touch and stay updated and folow us on <a target="_blank" rel="noopener" href="https://twitter.com/" aria-label="Follow us on X Twitter">
              <i class="fa-brands fa-square-x-twitter"></i></a>, or <a target="_blank" rel="noopener" href="https://linkedin.com/" aria-label="Follow us on Linkedin"><i class="fa-brands fa-linkedin"></i></a>.</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
{% endblock %}
