{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Gloss</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>

  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <a class="navbar-brand main-heading">&nbsp; Gloss</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        &nbsp; &nbsp; &nbsp;<li class="nav-item">
          <a class="btn btn-primary navbar-btn" type="button" href="{% url 'register' %}">Register</a>
        </li>&nbsp; &nbsp; &nbsp;<li class="nav-item">
          <a class="btn btn-primary navbar-btn" type="button" href="{% url 'my-login' %}">Login</a>
        </li>&nbsp; &nbsp; &nbsp;
      </ul>
    </div>
  </nav>

  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <p id="message-timer" class="alert alert-dismissible alert-success float-center text-center message-text">
        <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{ message }}
      </p>
    {% endif %}
  {% endfor %}

  <body>
    <div class="text-center mt-5 mt-lg-3 mb-5 mb-lg-5">
      <h2>Gloss.... an annotation ... a note.</h2>
      <br />
      <a class="btn btn-primary" type="button" href="{% url 'register' %}">Register</a>
    </div>
    <!-- Flexbox container with adjusted spacing for responsiveness -->
    <div class="d-flex justify-content-center align-items-center min-vh-50">
      <div class="container text-center mt-5 mb-5">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="icon">
              <i class="bi bi-pc-display-horizontal"></i>
            </div>
            <h4>Web App</h4>
            <p>Available in your desktop and mobile browser. all you have to do is create an account, sign in and viola!</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="icon">
              <i class="bi bi-journal-text"></i>
            </div>
            <h4>Notes</h4>
            <p>Create notes you can save. Need to make changes? click the pretty in pink update button. No longer need them? then smash the delete button.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="icon">
              <i class="bi bi-list-task"></i>
            </div>
            <h4>Tasks Lists</h4>
            <p>Wish you could write a list wherever you are? Well then go ahead! Write those spur of the moment lists and get sh*t done!</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="icon">
              <i class="bi bi-person-hearts"></i>
            </div>
            <h4>User Friendly</h4>
            <p>Got an email address and a fancy username in mind? Great! Just click the 'Register' button at the top of this page to setup your account and get started. Easy Peasy Lemon Squeezy!</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="icon">
              <i class="bi bi-github"></i>
            </div>
            <h4>Open Source</h4>
            <p>
              So you think you are a Rock Star Developer with awesome ideas? Then go ahead and git clone, create a branch and help us create some magic. We dare ya! <a target="_blank" rel="noopener" href="https://github.com/CodeConnoisseur74/gloss">GitHub</a>.
            </p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="icon">
              <i class="bi bi-send"></i>
            </div>
            <h4>Stay Updated</h4>
            <p>
              Dont be a stranger. Keep in touch and stay updated and folow us on <a target="_blank" rel="noopener" href="https://twitter.com/">Twitter</a>, or <a target="_blank" rel="noopener" href="https://linkedin.com/">LinkedIn</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="{% static 'js/app.js' %}"></script>
</html>
