{% extends 'note/navbar.html' %}
{% load static %}
{% block content %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <p id="message-timer" class="alert alert-dismissible alert-success float-center text-center message-text">
        <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{ message }}
      </p>
    {% endif %}
  {% endfor %}
  <br />
  {% for note in Allnotes %}
    <div class="container bg-tertiary shadow-lg p-5 form-layout">
      <h3>{{ note.title }}</h3>
      <br />
      {{ note.content }}
      <br />
      {{ note.date_posted }}
      <br />
      <hr />

      {{ note.user }}
    </div>
    <br />
  {% endfor %}
  <br />
  <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
