{% extends 'note/navbar.html' %}
{% block content %}
  <head>
    <title>Gloss | Password Reset Sent</title>
  </head>
  <br />
  <div class="container bg-secondary bg-opacity-10 shadow-lg p-5 form-layout">
    <h3>Password reset sent</h3>
    <br />
    <p>
      <b>We've emailed you instructions for setting a new password!</b>
    </p>
    <br />
    <br />
    <div class="text-center">
      <a href="{% url 'reset_password' %}">Resend reset password link</a>
    </div>
  </div>
  <br />
{% endblock %}
