{% load static %}
<html>
  <head>
    <title>Gloss | Password reset</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/quartz/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  </head>
  <br />
  <div class="container bg-tertiary shadow-lg p-5 form-layout">
    <h3>Password reset sent</h3>
    <br />
    <p>We've emailed you instructions for setting
      a new password!</p>
  </div>
</html>
