{% extends 'note/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <head>
    <title>Gloss | Reset Password</title>
  </head>
  <br />
  <div class="container bg-secondary bg-opacity-10 shadow-lg form-layout">
    <h3>Password reset</h3>
    <br />
    <p>
      <b>Forgotten your password? <br /> <br /> If so, then please kindly enter in your email:</b>
    </p>
    <br />
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      {{ form|crispy }}
      <br />
      <input class="btn custom-primary-bg btn-lg w-100 btn-block p-3" type="Submit" name="Send email" value="Send password reset email" />
    </form>
    <br />
    <div class="text-center">
      <a href="{% url 'my-login' %}">Return to login</a>
    </div>
    <br />
  </div>
  <br />
{% endblock %}
