{% extends 'note/navbar.html' %}
{% block content %}
  <head>
    <title>Gloss | Password Reset Complete</title>
  </head>
  <br />
  <div class="container bg-secondary bg-opacity-10 shadow-lg p-5 form-layout">
    <h3>Password reset complete</h3>
    <br />
    <p>
      <b>
        Your password has been set.
        <br /> <br /> You may go ahead and login to your account.
      </b>
    </p>
    <br />
    <a class="btn custom-primary-bg w-100" type="button" href="{% url 'my-login' %}">Login</a>
  </div>
  <br />
{% endblock %}
