{% load static %}
{% load crispy_forms_tags %}
<html>
  <head>
    <title>Gloss | Password reset</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <br />
  <div class="container bg-tertiary shadow-lg form-layout">
    <h3>Password reset</h3>
    <br />
    <p>
      Forgotten your password? <br /> <br /> If so, then please kindly enter in your email:
    </p>
    <br />
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      {{ form|crispy }}
      <br />
      <input class="btn btn-primary btn-md w-100 btn-block p-3" type="Submit" name="Send email" value="Send password reset email" />
    </form>
  </div>
</html>
