{% extends 'note/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <head>
    <title>Gloss | Password Reset</title>
  </head>
  <br />
  <div class="container bg-tertiary shadow-lg p-5 form-layout">
    <h3>Enter your new password</h3>
    <br />
    <p>Please enter your new password twice so that we can verify that you typed it in correctly!</p>
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      {{ form|crispy }}
      <br />
      <input class="btn btn-primary btn-md w-100 btn-block p-3" type="Submit" name="Update password" value="Update password" />
    </form>
  </div>
  <br />
{% endblock %}
