{% extends 'note/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br />
  <div class="container bg-tertiary shadow-lg p-5 form-layout">
    <h3>Update username and email</h3>
    <p>You may change your username and email below:</p>
    <br />
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      {{ UserUpdateForm|crispy }}
      <br />
      <button class="btn btn-primary btn-md w-100 btn-block p-3" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Update</button>
    </form>
  </div>
  <br />
  <div class="container bg-tertiary shadow-lg p-5 form-layout">
    <h3>Update profile picture</h3>
    <p>You may change or upload a profile picture below:</p>
    <br />
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
      {% csrf_token %}
      {{ ProfileUpdateForm|crispy }}
      <br />
      <button class="btn btn-primary btn-md w-100 btn-block p-3" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Upload profile picture</button>
    </form>
  </div>
  <br />
  <div class="container bg-tertiary shadow-lg p-5 form-layout">
    <h3>Delete your account</h3>
    <p>If you would like to close your account, please proceed below:</p>
    <br />
    <a href="{% url 'delete-account' %}">Proceed to delete your account</a>
  </div>
  <br />
{% endblock %}
