{% extends 'note/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <head>
    <title>Gloss | Register</title>
  </head>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 bg-secondary bg-opacity-10 shadow-lg p-5 form-layout">
      <h1>Create your account</h1>
      <br />
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ RegistrationForm|crispy }}
        <br />
        <button class="btn custom-primary-bg btn-lg w-100 btn-block p-3" type="submit">
          <i class="fa-solid fa-user-plus" aria-hidden="true"></i> &nbsp; Create account</button>
      </form>
      <br />
      <div class="text-center">
        <a href="{% url 'my-login' %}">Already have an account?</a>
      </div>
    </div>
  </div>
  <br />
{% endblock %}
