{% extends 'note/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <br />
  <div class="container bg-tertiary shadow-lg p-5 form-layout">
    <h3>Update a note</h3>
    <p>You may modify the details of your chosen note below:</p>
    <br />
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      {{ UpdateNote|crispy }}
      <br />
      <button class="btn btn-primary btn-md w-100 btn-block p-2" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Update note</button>
    </form>
    <br />
    <a href="{% url 'my-notes' %}">Return to notes</a>
  </div>
  <br />
{% endblock %}
